.breadcrumb {
  display: flex;
  align-items: center;
  gap: 6px;

  .back-home {
    font-weight: 500;
    line-height: 24px;
  }

  .back-home:hover {
    text-decoration: underline;
  }

  p {
    font-weight: 300;
    line-height: 24px;
    text-transform: capitalize;
  }
}
