.mini-post {
  display: flex;
  gap: 12px;
  align-items: center;

  &-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }

  &-title {
    line-height: 21px;
    margin-bottom: 5px;
  }

  &-create {
    color: var(--cl-gray-300);
    font-size: 12px;
    line-height: 18px;
  }
}
