select {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  color: var(--cl-gray-300);
  padding: 12px;

  option {
    color: var(--cl-gray-300);
  }
}
